[submodule ".emacs.d/plugins/auto-complete"]
	path = .emacs.d/plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/plugins/emacs-ipython-notebook"]
	path = .emacs.d/plugins/emacs-ipython-notebook
	url = git://github.com/tkf/emacs-ipython-notebook.git
[submodule ".emacs.d/plugins/fill-column-indicator"]
	path = .emacs.d/plugins/fill-column-indicator
	url = git://github.com/alpaker/Fill-Column-Indicator.git
[submodule ".emacs.d/plugins/markdown-mode"]
	path = .emacs.d/plugins/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/plugins/nxhtml"]
	path = .emacs.d/plugins/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule ".emacs.d/plugins/popup"]
	path = .emacs.d/plugins/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/plugins/pymacs"]
	path = .emacs.d/plugins/pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule ".emacs.d/plugins/request"]
	path = .emacs.d/plugins/request
	url = git://github.com/tkf/emacs-request.git
[submodule ".emacs.d/plugins/websocket"]
	path = .emacs.d/plugins/websocket
	url = git://github.com/ahyatt/emacs-websocket.git
[submodule ".emacs.d/plugins/autopair"]
	path = .emacs.d/plugins/autopair
	url = git://github.com/capitaomorte/autopair.git
[submodule ".emacs.d/plugins/smart-operator"]
	path = .emacs.d/plugins/smart-operator
	url = git://github.com/xwl/smart-operator.git
[submodule ".emacs.d/plugins/magit"]
	path = .emacs.d/plugins/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/plugins/color-theme-solarized"]
	path = .emacs.d/plugins/color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/plugins/scss-mode"]
	path = .emacs.d/plugins/scss-mode
	url = git://github.com/antonj/scss-mode.git
[submodule ".emacs.d/plugins/jedi"]
	path = .emacs.d/plugins/jedi
	url = https://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/plugins/epc"]
	path = .emacs.d/plugins/epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule ".emacs.d/plugins/ctable"]
	path = .emacs.d/plugins/ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule ".emacs.d/plugins/deferred"]
	path = .emacs.d/plugins/deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule ".emacs.d/plugins/el-get"]
	path = .emacs.d/plugins/el-get
	url = https://github.com/dimitri/el-get.git
